html {
	background-color: hsl(0, 90%, 92%);
}


.title{
	text-align: center;
}

ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
}

table.outer{
    border: 5px solid rgb(0, 0, 0);
}

table{
	border-collapse: collapse; 
}

th, td {
	border: 1px solid black;
	text-align: left;
	padding: 8px;
}

.table-wrapper {
	display: inline-block;
	vertical-align: top;
	margin-right: 20px; 
  }